* {
    margin: 0;
    padding: 0;
  }

  .judul
    {
        position: absolute;
        width: 1480px;
        height: 48px;
        left: 220px;
        top: 237px;
        
        font-family: 'montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 48px;
        
        color: #070707;
        
  }

.tanggalberita1
{
position: absolute;
width: 99px;
height: 20px;
left: calc(50% - 99px/2 - 686.5px);
top: 150px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #000000;
}

.subheadline1
{
position: absolute;
width: 1173px;
height: 58px;
left: calc(50% - 1020px/2 - 228.5px);
top: 80px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
}
  .foto
  {
    position: absolute;
                width: 1216px;
                height: 735px;
                left: 90px;
                top: 250px;
  }

.foto2
{
  position: absolute;
        width: 904px;
        height: 707px;
        left: 872px;
        top: 625px;
}

.bodytext
{
    position: absolute;
    width: 554px;
    height: 904px;
    left: 80px;
    top: 695px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    
    color: #000000;
    
}

.bodytext2
{
position: absolute;
width: 1227px;
height: 381px;
left: 180px;
top: 1100px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 30px;

color: #000000;
}

.kotak1
{
    /* Rectangle 16 */


position: absolute;
width: 684px;
height: 213px;
left: 600px;
top: 2800px;

background: #0e0d0d;
cursor: pointer;
}

.juduldalamkotak
{
position: absolute;
width: 417px;
height: 186px;
left: 850px;
top: 2857px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    
    color: #ffffff;  
    cursor: pointer;
}

.kotak2
{
position: absolute;
width: 684px;
height: 213px;
left: 600px;
top: 3100px;

background: #171616;
cursor: pointer;
}

.juduldalamkotak2
{
    position: absolute;
    width: 457px;
    height: 133px;
    left: 855px;
    top: 3180px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    
    color: #ffffff;  
    cursor: pointer;
}

.fotojudulkotak1
{
position: absolute;
width: 175px;
height: 186px;
left: -230px;
top: -41px;
cursor: pointer;
}

.fotojudulkotak
{
  position: absolute;
width: 175px;
height: 186px;
left: -234px;
top: -66px;
cursor: pointer;
}

/* START NAVBAR */
.menu:hover {
  background-color: rgb(66, 66, 66);
  transition: 500ms; border: none; border-radius: 10px;
}

nav .main_container .menu {
  position: relative;
  height: calc(80% - 20px);
  left: 100px;
  padding-left: 10px;
  padding-top: 20px;
  padding-right: 10px;
  margin-top: 10px;
  float: left;
  cursor: pointer;
}

.main_container {
  right: -70px;
  top: 50px;
  display: flex;
}
nav {
  position: relative;
  top: 0vw;
  left: 0px;
  height: 100px;
  background-color: #24252a;
  z-index: 0;
  color: white;
}

nav .main_container {
width: 40%;
height: 80%;
margin: 0 auto;
}

.menu
{font-family: 'Montserrat', sans-serif;
font-size: 20px;
top: 10px;
}

.header{
  display:flex; 
justify-content: center; /* center everything */
align-items: center;
margin-top: 20px;
padding: 0 260px; /* prevent crawling on the logo */
}


.logo{
  position: absolute; /* remove the logo from the flow */
  height: 100px;
  width: 100px;
  z-index: 99999 !important;
  padding-left: 20px;
}
/* END NAVBAR */

/* BAWAH HTML*/
